@include media-md {
  form {
    label {
      width: 50%
    }
  }

  footer {
    position: fixed;
    left: 2rem;
    bottom: 0;
    width: 100%;
    text-align: center;

    hr {
      width: 92%;
    }
  }
}

@include media-lg {

  form {
    label {
      width: 20%
    }
  }

  footer {
    hr {
      width: 94%;
    }
  }
}

@include media-xl {
  footer {
    hr {
      width: 96%;
    }
  }
}

@include media-xxl {
  footer {
    hr {
      width: 98%;
    }
  }
}