.single-product-wrapper {
  border: 1px solid $primary-color;
  border-radius: radius(regular);
  padding: 2rem 1rem 3rem;
  position: relative;
  text-align: center;
  width: clamp(210px, 10rem, 20rem);

  .delete-checkbox {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  p {
    text-transform: capitalize;
  }

  p:first-of-type,
  p span {
    overflow-wrap: break-word;
    text-transform: uppercase;
  }
}