// STUB: font
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

// STUB: colors
$primary-color: hsl(0, 0%, 7%);
$secondary-color: hsl(0, 0%, 98%);
$text-color: hsl(0, 0%, 20%);

// STUB: border radius
$border-radii: (
  'regular': 2px,
  'large': 1rem,
);

// STUB: font size
$font-sizes: (
  'fs-h1': 3rem,
  'fs-btn': 0.9rem,
  'fs-p': 1.1rem,
  'fs-caption': 0.7rem,
);

// STUB: font weight
$font-weights: (
  'regular': 400,
  'medium': 700,
  'bold': 800,
);